div.buyable div.item {
    margin:0 0 0.5em 0;
}
a.buyable_add_to_cart:link,
a.buyable_add_to_cart:active,
a.buyable_add_to_cart:hover,
a.buyable_add_to_cart:visited,
a.buyable_update_cart:link,
a.buyable_update_cart:active,
a.buyable_update_cart:hover,
a.buyable_update_cart:visited {
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding:0.3em 0.75em;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
a.buyable_add_to_cart:hover,
a.buyable_update_cart:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
div.item.comment {
    font-size:100%;
}
div.item.comment span.required:after {
    color:red;
    content:"■";
    padding-left:0.2em;
}
